<div class="row justify-content-md-center" style="background-color: #182627; padding: 0">
  <div class="row inner">
    <div class="col col-lg-3 col-md-12 col-sm-12">
      <div class="content">
          <h1>ERFSEDS</h1>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam egestas leo at semper mattis. Cras nulla arcu, consequat eget convallis vitae, maximus in orci. Vivamus fermentum molestie vehicula. Interdum et malesuada fames ac ante ipsum primis in faucibus.
      </div>
    </div>
  
    <div class="col col-lg-2 col-md-3 col-sm-4">
      <div class="content">
        <h1>Projects</h1>
        <ul>
          <li><a href="">Pathfinder</a></li>
          <li><a href="">Pathfinder</a></li>
          <li><a href="">Pathfinder</a></li>
          <li><a href="">Pathfinder</a></li>
          <li><a href="">Pathfinder</a></li>
        </ul>
    
        <h1>Team</h1>
        <ul>
          <li><a href="">Pathfinder</a></li>
          <li><a href="">Pathfinder</a></li>
        </ul>
      </div>
    </div>
  
    <div class="col col-lg-2 col-md-3 col-sm-4">
      <div class="content">
        <h1>Media</h1>
        <ul>
          <li><a href="">Pathfinder</a></li>
          <li><a href="">Pathfinder</a></li>
          <li><a href="">Pathfinder</a></li>
        </ul>
    
        <h1>Donate</h1>
        <ul>
          <li><a href="">Pathfinder</a></li>
          <li><a href="">Pathfinder</a></li>
        </ul>
      </div>
    </div>
  
    <div class="col col-lg-2 col-md-3 col-sm-4">
      <div class="content">
        <h1>Community</h1>
        <ul>
          <li><a href="">Pathfinder</a></li>
          <li><a href="">Pathfinder</a></li>
          <li><a href="">Pathfinder</a></li>
          <li><a href="">Pathfinder</a></li>
        </ul>
      </div>
    </div>
  
    <div class="col col-lg-3 col-md-3 col-sm-12">
      <div class="content">
          <h1>Contact</h1>
      </div>
    </div>
  </div>
</div>

<div class="bottom">
  Site designed and built by Trin Jette.
</div>