.navbar {
    text-transform: uppercase;
    text-align: center;
    background-color: #fff;
    color: #666;
    box-shadow: 0px 0px 20px rgba(0,0,0,.2);
    font-weight: bold;
    font-size: 14px;
    position: fixed;
}

.navbar i {
    margin-left: 5px;
}

.navlink {
    padding: 20px;
    display: inline-block;
}

.navlink:hover {
    background-color: black;
}