/* You can add global styles to this file, and also import other style files */

/* Colors */

$color-main: #1794ab;
$color-main-accent: #1a648e;
$color-error: #ff6666;
$color-error-accent: #ffb366;
$color-white: #e2e8e9;
$color-black: #093c45;

/* Fonts */

@font-face {
    font-family: Nunito;
    src: url(./assets/fonts/NunitoSans/NunitoSans-Regular.ttf);
    }

body {
    margin: 0;
    background-color: #eee;
    font-family: 'Nunito';
}

@media (max-width: 480px) { /* Smaller devices */
    .large {
        display: none;
    }
}

@media (min-width: 480px) { /* Large devices */
    .small {
        display: none;
    }
}