

.logo {
    width: 100%;
    position: absolute;
    height: 100vh;
    background-position: center;
    background-size: 40vw auto;
    background-repeat: no-repeat;
    background-image:url(./../../assets/logo/erfseds_logo.svg)
}